<a href="https://colab.research.google.com/github/KaitlinMahon/BTE320/blob/main/in_class_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Shape Area Calculator

In [ ]:
pi = 3.14
r = 3
h =  10
area = 2 * pi * r ** 2 + 2 * pi * r * h
print (area)

244.92000000000002

Numerical Calculator

In [ ]:
n1=float(input('enter your number:'))
n2=float(input('enter your second number:'))
n3=input('choose operation: (+,-,*,/,**)')
if n3== '+' :
  print(n1+n2)
elif n3=='-':
  print(n1-n2)
elif n3=='*':
  print(n1*n2)
elif n3=='/':
  print(n1/n2)
else:
  print(n1**n2)

enter your number:1
enter your second number:2
choose operation: (+,-,*,/,**)+
3.0

Rock paper scissor (while loop)

In [ ]:

i = input('do you want to play yes or no:')
while i == 'yes':
  p1= input('player 1 :: (r->rock, p->paper, or s->scissor)')
  p2= input('player 2 :: (r->rock, p->paper, or s->scissor)')

  if p1==p2:
    print('draw')

  elif p1=='r' and p2=='s':
    print('p1 wins')

  elif p1=='s' and p2 =='p':
    print('p1 wins')

  elif p1=='p' and p2 =='r':
    print('p1 wins')

  else:
    print('p2 wins')

  i = input('do you want to play yes or no:')

do you want to play yes or no:yes
player 1 :: (r->rock, p->paper, or s->scissor)rock
player 2 :: (r->rock, p->paper, or s->scissor)paper
p2 wins
do you want to play yes or no:no

Parking Garage

In [ ]:
# a parking garage charges $5 plus 2.5 for each hour parked. the minimum fee is 10 dollars and the maximu is 20
# write a program that generates a table with hours parked and the corresponding fee from 1-8 hours
flatrate = 5
hourlyrate = 2.5
for h in range(1,9,1):
  charge = flatrate + hourlyrate * h
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(h,charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
#write a program where a parking garage charges $5 plus $2.5 for each hours parked- prompts for number of hours parked and calculates/displays the parking fee charged
#if you see a none when you make a function make sure you use the return! prolly just means you didnt add that line
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee


h=float(input('enter number of hours : '))
fee=calcFee(h)
print(fee)

enter number of hours : 5
17.5

Movie Theater

In [ ]:
#each ticket is 10 without advertising 20 people attend additional attendees if advertising = 2x(sqroot addollars) fixed costs = 200 write a program to generate table
# for different advertising amounts and profits
ticket = 10
forecast = 20
fixedcost = 200
for t in range (0,225,25):
  addition = 2*(t**.5)
  profit = round(addition+forecast)*ticket - fixedcost - t
  print(t,profit)

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

Months to Numbers

In [ ]:
#populate a dictionary where the key comes from the list of numbers and the value is from the names
months = {}
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
for idx in numbers:
  months[idx]=names[idx-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months[3] #indexes not keys

'Mar'

Fee Calculation and Display Functions

In [ ]:
#not make a refined program to have the fee to have 2 decimals
def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee=round(fee,decimals)
  return fee

def displayFee(fee):
  print(fee)


h=int(input('enter number of hours : '))
fee=calcFee(h,decimals=0)
displayFee(fee)

enter number of hours : 5
18.0

Reverse Function Recursion

In [ ]:
# we want to design a recurstion function that reverses the string, the string is Hello, you want it to return olleh
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return s[-1]+reverse(s[:-1])
reverse('hello')

'olleh'

Student Class

In [ ]:
### define a class named student, student has 2 attributes name and number create two student objetcs out of this class
class Student:
  def __init__(self,name,number,courses):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self,newcourse):
    if newcourse not in self.courses:
          self.courses.append(newcourse)
    else:
      print('already enrolled')

  def get_courses(self):
    return self.courses

In [ ]:
s=Student('bob','12345',[1,3,4])

[]

In [ ]:
s.enroll('ABC123')
s.enroll('ABC456')
s.enroll('ABC789')
s.get_courses()

['ABC123', 'ABC456', 'ABC789']